html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%
}

body {
  min-width: 320px;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.flex {
  display: flex;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__logo {
    max-height: 50px;
  }

  &__search-input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding: 12px 16px 13px;
    flex-basis: 581px;
    flex-grow: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #B0B0B0;
  }
}

.clients__container {
  padding: 40px 7px;
}

.theaders {
  &__btn {
    vertical-align: middle;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
  }

  &__arrow {
    width: 12px;
    height: 12px;
  }

  &__alphabet {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;

    color: #9873FF;
  }
}

.clients {
  &__table {
    margin-bottom: 40px;

    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    background-color: #fff;
  }

  &__id {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
  }

  &__time {
    padding-left: 7px;
    color: #B0B0B0;
  }

  &__actions {
    font-size: 0;
  }

  &__add-btn {
    margin: 0 auto;
    max-width: fit-content;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    text-align: center;
  }

  &__add-btn:focus {
    background-color: #9873FF;
    color: #fff;
  }

  &__add-btn:active {
    background-color: #8052FF;
  }

  &__add-btn>svg {
    width: 23px;
    height: 16px;
    margin-right: 10px;
    fill: #9873FF;
    transition: fill .15s ease-in-out;
  }

  &__add-btn:focus>svg,
  &__add-btn:focus-visible>svg,
  &__add-btn:hover>svg,
  &__add-btn:active>svg {
    fill: #fff;
  }
}

.contacts__svg {
  margin-right: 7px;
  width: 16px;
  height: 16px;
}

.tooltip {
  font-weight: 700;
  line-height: 16px;
}


.actions {
  &__wrapper {
    flex-wrap: wrap;
  }

  &__btn:not(:last-child) {
    margin-right: 32px;
  }

  &__btn {
    max-width: fit-content;
    padding: 0;
    align-items: center;
  }

  &__svg {
    width: 12px;
    height: 12px;
    margin-right: 2px;
  }
}
